# Dependencies
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
build/
